* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  margin-bottom: 100px;
}
.column2{
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
  margin-top:50px
}
p{
  font-size: 17px;
}
h2{
  font-size: 23px;
}