<app-navbar></app-navbar>
<div class="content">
  <h2>How to use the application</h2>
  <div class="row">
    <div class="column">
      <img src="assets/images/board.png">
    </div>
    <div class="column2">
      <h2>Step 1</h2>
      <p>Create a Jira Scrum Project and link it to the KPI Dashboard.</p>
      <br/>
      <p>The project must have Sprints, with tasks on it and must be public.</p>
      <br/>
      <p>For a better use and a better aproximation of the KPIs tracked, is convenient to track the spent time on each task, perform a task estimation, report found bugs and everything related to the project.</p>
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <h2>Step 2</h2>
      <p>Once you have logged in, check if your project corresponds to the Jira Board project.</p>
      <br/>
      <p>You can track some general aspects such as the members of your team, start and end dates, and a few more.</p>
      <br/>
      <p>Then, navigate to <i>Dashboards</i> and you will see four available. Select the one you want and you will navigate to the selected Dashboard.</p>
      <br/>
      <p>On the Dashboard you will see some metrics tracked and computed by our technology. You can export the dashboard by clicking on the <i>Export</i> button</p>
    </div>
    <div class="column">
      <img src="assets/images/dashboards.png">
      
    </div>
  </div>

</div>
