<app-navbar></app-navbar>
<div class="content">
  <div *ngIf="leadTime && cycleTime && accomplishmentRatio; else loading">
    <div id="exportable" class="grid-container">
      <h1 class="mat-h1">Efectiveness Management Dashboard</h1>
      <button mat-mini-fab [routerLink]="['/dashboards']" class="back" color="primary" #tooltip="matTooltip" matTooltip="Go back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-stroked-button class="export" color="primary" (click)="exportAsPDF('exportable');">Export as PDF</button>
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="150px">
        <!--Mini Cards-->
        <mat-grid-tile [colspan]="2"
        [rowspan]="3">
          <app-card title="Difference between Lead Time and Cycle Time">
            <img src="assets/images/LEADTIME.png">
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card  title="Average Lead Time" tooltip="Units of time that pass from when a task is created to when it is completed. It provides information on how current work units are processed compared to incoming work units" [value]="leadTime" label="hours" color="black" icon="hourglass_top"></app-mini-card>
          
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card  title="Average Cycle Time" tooltip="Units of time required to complete a task, i.e. time taken from the time a task is in progress until it is completed. It provides us with information on the efficiency of the team and the way in which it works, to see how quickly a unit of work is processed." [value]="cycleTime" label="hours" color="orange" icon="hourglass_bottom"></app-mini-card>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card  title="Accomplishment Ratio" tooltip="Value that measures the proportion of the work carried out, with respect to the total proportion of the planned work" [value]="accomplishmentRatio" [percentage]="true" color="green" icon="checklist"></app-mini-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>  
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>