h1{
  font-size: 25px;
  font-weight: bold;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.project_name{
  font-size: 40px;
  color:blueviolet;
}
mat-icon{
  margin-bottom:30px;
}
mat-label{
  font-size: 20px;
}
mat-form-field{
  margin-right: 20px;
}
.inputs{
  display: inline-flex;
}
mat-spinner{
  margin:0 auto;
}