<app-navbar></app-navbar>
<div class="content">
  <div *ngIf="project; else not_loaded">
    <h1>Project Information</h1>
    <div class="row">
      <div class="column">
        <h2>Team Members</h2>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile *ngFor="let member of members; let i=index">
            <mat-icon  mat-list-icon [matTooltip]="roles[i]" matTooltipPosition="left">person</mat-icon>{{member}}
          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
      <div class="column">
        <br/>
        <br/>
        <p style="font-size: 13px;">Project Name</p>
        <h1 class="project_name">{{project.project_name}}</h1>
        <br/>
        <a mat-raised-button href="https://www.jira.com" target="_blank"><mat-icon style="display: inline; margin-right:5px;">link</mat-icon>Jira Scrum Board link</a>
        <br/>
        <br/>
        <button mat-raised-button color="primary" [routerLink]="['/dashboards']" >Go to Dashboards</button>
        <br/>
        <br/>
        <br/>
        
      </div>
      <div class="column">
        <h2>Total Hours Worked</h2>
        <p>{{workedHours}} hours</p>
        <br/>
        <h2>Weeks remaining</h2>
        <p>{{weeksRemaining}} weeks</p>
        <br/>
        <h2>Total revenue</h2>
        <p>{{project.revenue}} $</p>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="dp3" [formControl]="date1" [disabled]="true">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="true"></mat-datepicker>
      </mat-form-field>
      <br/>
      <br/>
      <mat-form-field appearance="fill">
        <mat-label>Estimated finish date</mat-label>
        <input matInput [matDatepicker]="dp4" [formControl]="date2" [disabled]="true">
        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
        <mat-datepicker #dp4 disabled="true"></mat-datepicker>
      </mat-form-field>
    </div>
  
    
</div>
  <ng-template #not_loaded>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
