<app-navbar></app-navbar>
<div class="content">
  <div class="row">
    <div class="column1">
      <h2>ABOUT ME</h2>
      <p>I am Alex Fernandez Valladares. </p>
      <p>4th year Computer Science Degree student at the Universitat Autònoma de Barcelona </p>
      <a href = "mailto: alex.fernandezv@e-campus.uab.cat" mat-raised-button>Contact me <mat-icon>mail</mat-icon></a>
      <a class="github-button" href="https://github.com/alexfernandezv" data-color-scheme="no-preference: light; light: light; dark: dark;" aria-label="Follow @alexfernandezv on GitHub">Follow @alexfernandezv</a>
    </div>
    <div class="column2">
      <h2>ABOUT THE PROJECT</h2>
      <p>The KPI Dashboard Project is a TFG proposal thought by my tutor Joan Protasio <a href = "mailto: joan.protasio@uab.cat">(joan.protasio@uab.cat)</a></p>
      <p>The main aim of the project is to build a KPI Dashboard from an existent Jira Scrum Board</p>
      <p>The amount of developing time of this project goes from mid of February to the end of June </p>
      <p>Extracting the data from the Jira Board through its API and store it in a DataBase is part of another TFG proposal which is complemented by this project</p>
      <img src="assets/images/tfg-schema.png">
    </div>
  </div>
</div>
