.navbar{
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.nav a{
  margin-right: 6em;
  font-size: 18px;
  
}
a:hover{
  background-color:darkviolet;
}

.active-link{
  color: sandybrown;
}