<mat-toolbar color="primary" class="navbar">
  <div>KPI Dashboard</div>
  <div class="nav">
   <a mat-button [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >Home</a>
   <a mat-button [routerLink]="['/dashboard-catalogue']" routerLinkActive="active-link">Dashboards</a>
   <a mat-button [routerLink]="['/about']" routerLinkActive="active-link">About</a>
  </div>
  <div>
    <a mat-raised-button [routerLink]="['login']" routerLinkActive="active-link">Login</a>
  </div>
</mat-toolbar>