<app-navbar></app-navbar>
<div class="content">
  <h1>Welcome to the KPI Dashboard!</h1>
  <img src="assets/images/dashboard-logo.png">
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><mat-icon>question_answer</mat-icon>What is it?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          KPI Dashboard is a web application tool that allows Scrum Members (specifically Scrum Masters) to track, check and analyze how the project in progress is going through user-friendly Dashboards.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-header>
        <mat-card-title><mat-icon>question_answer</mat-icon>How is it done?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Through Key Performance Indicators (KPI). KPIs are metrics and indicators that give information about an specific key-factor in project developing. This application is KPI Scrum Metrics oriented, due to it's capacity in tracking and measuring Scrum development metrics.
        </p>
      </mat-card-content>
    </mat-card></mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title><mat-icon>question_answer</mat-icon>How many KPIs are tracked?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Over 10. They are carefully accurate and under analysis. We have decided to divide them into categories according to what they measure and to have data more organised.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title><mat-icon>category</mat-icon>The Dashboard categories</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            We classified similar KPIs into Dashboards, making a total of 4 Dashboards. The Scrum Team Management Dashboard, the Sprint Management Dashboard, the Efectiveness Management Dashboard and the Bug Management Dashboard
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
</div>
