<app-navbar></app-navbar>
<div class="content">
  <div>
    <div class="grid-container">
      <h1 class="mat-h1">Sprint Management Dashboard</h1>
      <button mat-stroked-button class="export" color="primary">Export</button>
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="150px">
        <!--Mini Cards-->
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
            <app-filter-mini-card title="Filter by Sprint">
              <mat-form-field appearance="fill">
                <mat-label>Sprint</mat-label>
                <mat-select [(value)]="selectedSprint">
                  <mat-option [value]="option.value" *ngFor="let option of sprintListFilter">{{ option.label }}</mat-option>
                </mat-select>
              </mat-form-field>
            </app-filter-mini-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card *ngIf="workedHours; else not_loaded" title="Hours worked per Sprint" [value]="workedHours[selectedSprint]" color="yellow" icon="schedule"></app-mini-card>
          <ng-template #not_loaded><mat-spinner></mat-spinner></ng-template>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card title="Task completion ratio" [value]="selectedSprint" color="yellow" icon="task" [percentage]="true"></app-mini-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
        [rowspan]="( cardLayout | async )?.miniCard.rows">
          <app-mini-card title="Task completion ratio" [value]="selectedSprint" color="yellow" icon="task" [percentage]="true"></app-mini-card>
        </mat-grid-tile>

        
        <!--Charts-->
        <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
          [rowspan]="( cardLayout | async )?.chart.rows">
          <app-card title="Sprint velocity">
            
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
        [rowspan]="( cardLayout | async )?.chart.rows">
          <app-card title="Sprint burn-down">
           
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
        [rowspan]="( cardLayout | async )?.chart.rows">
          <app-card title="Planned hours vs Needed hours  (per role)">
           
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="( cardLayout | async )?.chart.cols"
        [rowspan]="( cardLayout | async )?.chart.rows">
          <app-card title="Bugs per role">
           
          </app-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>  
  </div>
  <ng-template #not_loaded>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>