<app-navbar></app-navbar>
<div class="content">
  <h1>Dashboards</h1>
  <h2>Select a dashboard to see how the KPIs are performing</h2>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-icon color="primary"  matTooltip="Set of metrics, indicators and graphs that represent the status of the Scrum Team, possible problems and also allow to monitor their activity on the sprints. Dedicated to the Scrum Master as well as to the Scrum Team, as they help to identify possible problems that directly affect the project development" matTooltipPosition="right">info</mat-icon>
      <div>
        <div class="container">
          <a [routerLink]="['/dashboards/team-management']">
            <img class="image" src="assets/images/dashboard-example.png">
          </a>
          <h1>Scrum Team Management</h1>
        </div>
      </div>
      
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="primary" matTooltip="Set of indicators, metrics and graphs that represent the conditions that are possible for the different Sprints (for separate purposes and as a set of the project). Specifically dedicated to the Scrum Masters, so that they provide an overview at the time that specifies the direction of the current iteration and of the project" matTooltipPosition="right">info</mat-icon>
      <div>
        <div class="container">
          <a [routerLink]="['/dashboards/sprint-management']">
            <img class="image" src="assets/images/dashboard-example.png">
          </a>
          <h1>Sprint Management</h1>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="primary" matTooltip="Set of indicators and metrics that measure the efficiency (in the business scope) of the Scrum Team. This set of KPIs is focused on the analysis of the benefits and the expenses in order to obtain a vision of whether the business objectives are complete. They are dedicated to the Scrum Master and the Product Owner, the ones who connect the business idea and try to maximize the values of all the processes involved" matTooltipPosition="right">info</mat-icon>
      <div>
        <div class="container">
          <a [routerLink]="['/dashboards/efectiveness-management']">
            <img class="image" src="assets/images/dashboard-example.png">
          </a>
          <h1>Efectiveness Management</h1>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-icon color="primary" matTooltip="Set of indicators and metrics focused on the appearance and management of the project bugs and defects. Dedicated to the Scrum Master or the Project Owner to see which are the critical activites, the defect typology and where it is produced.Will guide the team on how to correct and avoid them" matTooltipPosition="right">info</mat-icon>
      <div>
        <div class="container">
          <a [routerLink]="['/dashboards/bug-management']">
            <img class="image" src="assets/images/dashboard-example.png">
          </a>
          <h1>Bug Management</h1>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list> 
</div>

