.matTooltip{
  font-size: 50px !important;
}
img{
  width:300px;
}
.card_content{
  width: 50%;
  display: inline-flex;
  margin-top: 20px !important;
  font-size: 15px;
  justify-content: center;
  text-align: left;
}
.go{
  position: absolute;
  bottom: 10px;
  right: 40px;
}
mat-card{
  width: 80%;
  height: 80%;
}
mat-card:hover{
  background-color: whitesmoke;
}
.go:hover{
  background-color: wheat;
}
.scrum-image {
  background-image: url('../../../assets/images/scrum-image.jpg');
  background-size: cover;
}
.sprint-image {
  background-image: url('../../../assets/images/sprint-image.png');
  background-size: cover;
}
.efectiveness-image {
  background-image: url('../../../assets/images/efectiveness-image.png');
  background-size: cover;
}
.bug-image {
  background-image: url('../../../assets/images/bug-image.png');
  background-size: cover;
}
